#!name=📺 BiliBili: 🍟 Series
#!desc=哔哩哔哩：🍟整点薯条系列
#!openUrl=http://boxjs.com/#/app/BiliBili.clydetime.sub
#!author=VirgilClyne, MartinsKing
#!manual=https://manual.biliuniverse.io
#!icon=https://raw.githubusercontent.com/ClydeTime/BiliBili/main/database/icon_Avatar.png
#!category= MK

#[rewrite_local]
//Enhanced
# 📺 BiliBili.Enhanced.x.resource.show.tab.v2
^https?:\/\/app\.bili(bili\.com|api\.net)\/x\/resource\/show\/tab\/v2\? url script-response-body https://github.com/BiliUniverse/Enhanced/releases/latest/download/response.bundle.js
# 📺 BiliBili.Enhanced.x.v2.account.mine
^https?:\/\/app\.bili(bili\.com|api\.net)\/x\/v2\/account\/mine(\/ipad)?\? url script-response-body https://github.com/BiliUniverse/Enhanced/releases/latest/download/response.bundle.js
# 📺 BiliBili.Enhanced.x.v2.region.index
^https?:\/\/app\.bili(bili\.com|api\.net)\/x\/v2\/region\/index\? url script-response-body https://github.com/BiliUniverse/Enhanced/releases/latest/download/response.bundle.js
# 📺 BiliBili.Enhanced.x.v2.channel.region.list
^https?:\/\/app\.bili(bili\.com|api\.net)\/x\/v2\/channel\/region\/list\? url script-response-body https://github.com/BiliUniverse/Enhanced/releases/latest/download/response.bundle.js

//ADBlock
# 去除搜索中的默认关键词
^https?:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.app\.interface\.v1\.Search\/DefaultWords$ url reject
# 去除搜索中的大家都在搜
^https?:\/\/api\.vc\.bilibili\.com\/search_svr\/v\d\/Search\/recommend_words url reject-dict
# 去除动态中的话题
^https?:\/\/api\.vc\.bilibili\.com\/topic_svr\/v1\/topic_svr url reject-dict
# 去除动态中的最常访问
^https?:\/\/api\.vc\.bilibili\.com\/dynamic_svr\/v1\/dynamic_svr\/mix_uplist url reject-dict
# 可能的一些推广(beta)
^https?:\/\/api\.bili(bili\.com|api\.net)\/pgc\/season\/app\/related\/recommend\? url reject-dict
# BiliBili漫画去广告
^https?:\/\/manga\.bilibili\.com\/twirp\/comic\.v\d\.Comic\/Flash url reject-dict
^https?:\/\/manga\.bilibili\.com\/twirp\/comic\.v\d\.Comic\/ListFlash url reject-dict
^https?:\/\/api\.live\.bilibili\.com\/xlive\/e-commerce-interface\/v1\/ecommerce-user\/get_shopping_info\? url reject-dict
# 📺 BiliBili.ADBlock.request.json
^https?:\/\/app\.bili(bili\.com|api\.net)\/x\/v2\/feed\/index\? url script-request-header https://github.com/BiliUniverse/ADBlock/releases/latest/download/request.bundle.js
# 📺 BiliBili.ADBlock.response.json
^https?:\/\/api\.live\.bilibili\.com\/xlive\/app-room\/v1\/index\/getInfoByRoom url script-response-body https://github.com/BiliUniverse/ADBlock/releases/latest/download/response.bundle.js
^https?:\/\/api\.bilibili\.com\/x\/web-interface\/wbi\/index\/top\/feed\/rcmd\? url script-response-body https://github.com/BiliUniverse/ADBlock/releases/latest/download/response.bundle.js
^https?:\/\/api\.bili(bili\.com|api\.net)\/pgc\/page\/(bangumi|cinema\/tab\?) url script-response-body https://github.com/BiliUniverse/ADBlock/releases/latest/download/response.bundle.js
^https?:\/\/app\.bili(bili\.com|api\.net)\/x\/v2\/(splash\/(brand\/list|event\/list2|list|show)|feed\/index(\/story)?|search\/square) url script-response-body https://github.com/BiliUniverse/ADBlock/releases/latest/download/response.bundle.js
# 📺 BiliBili.ADBlock.response.grpc
^https?:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.app\.(view|viewunite)\.v1\.View\/(View|TFInfo|RelatesFeed)$ url script-response-body https://github.com/BiliUniverse/ADBlock/releases/latest/download/response.bundle.js
^https?:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.app\.dynamic\.v2\.Dynamic\/Dyn(All|Video)$ url script-response-body https://github.com/BiliUniverse/ADBlock/releases/latest/download/response.bundle.js
^https?:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.app\.playurl\.v1\.PlayURL\/PlayView$ url script-response-body https://github.com/BiliUniverse/ADBlock/releases/latest/download/response.bundle.js
^https?:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.polymer\.app\.search\.v1\.Search\/SearchAll$ url script-response-body https://github.com/BiliUniverse/ADBlock/releases/latest/download/response.bundle.js
^https:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.community\.service\.dm\.v1\.DM\/(DmView|DmSegMobile) url script-response-body https://github.com/BiliUniverse/ADBlock/releases/latest/download/response.bundle.js
^https:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.app\.interface\.v1\.Teenagers\/ModeStatus url script-response-body https://github.com/BiliUniverse/ADBlock/releases/latest/download/response.bundle.js
^https:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.main\.community\.reply\.v1\.Reply\/MainList url script-response-body https://github.com/BiliUniverse/ADBlock/releases/latest/download/response.bundle.js

//Global
# 📺 BiliBili.Global.bangumi.play.html
^https?:\/\/www\.bilibili\.com\/bangumi\/play\/(ss|ep)\d+\/? url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js

# 📺 BiliBili.Global.viewunite.v1.View.grpc
^https?:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.app\.viewunite\.v1\.View\/View$ url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js
^https?:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.app\.viewunite\.v1\.View\/View$ url script-response-body https://github.com/BiliUniverse/Global/releases/latest/download/response.bundle.js
# 📺 BiliBili.Global.season.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/pgc\/view\/(v2\/app|web|pc)\/season\? url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js
^https?:\/\/api\.bili(bili\.com|api\.net)\/pgc\/view\/(v2\/app|web|pc)\/season\? url script-response-body https://github.com/BiliUniverse/Global/releases/latest/download/response.bundle.js

# 📺 BiliBili.Global.playerunite.v1.Player.grpc
^https?:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.app\.playerunite\.v1\.Player\/PlayViewUnite$ url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js
# 📺 BiliBili.Global.player.v2.PlayURL.grpc
^https?:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.pgc\.gateway\.player\.v2\.PlayURL\/PlayView$ url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js
# 📺 BiliBili.Global.player.playurl.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/pgc\/player\/(api|web)\/playurl(\/html5)?\? url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js
# 📺 BiliBili.Global.player.v2.playurl.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/pgc\/player\/web\/v2\/playurl\? url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js

# 📺 BiliBili.Global.search.html
^https?:\/\/search\.bilibili\.com\/all\? url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js
# 📺 BiliBili.Global.search.grpc
^https?:\/\/(grpc|app)\.bili(bili\.com|api\.net)\/bilibili\.polymer\.app\.search\.v1\.Search\/(SearchAll|SearchByType)$ url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js
# 📺 BiliBili.Global.search.app.json
^https?:\/\/app\.bili(bili\.com|api\.net)\/x\/v2\/search(\/type)?\? url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js
# 📺 BiliBili.Global.search.wbi.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/x\/web-interface\/wbi\/search\/(all\/v2|type)\? url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js
# 📺 BiliBili.Global.search.pc.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/x\/web-interface\/search\/(all\/v2|type)\? url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js

# 📺 BiliBili.Global.space.app.json
^https?:\/\/app\.bili(bili\.com|api\.net)\/x\/v2\/space\? url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js
# 📺 BiliBili.Global.space.wbi.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/x\/space\/wbi\/acc\/info\? url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js
# 📺 BiliBili.Global.space.pc.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/x\/space\/acc\/info\? url script-request-body https://github.com/BiliUniverse/Global/releases/latest/download/request.bundle.js

//Modified
# 📺 BiliBili.Modified.skin.app.json
^https?:\/\/app\.bilibili\.com\/x\/resource\/show\/skin\? url script-response-body https://raw.githubusercontent.com/ClydeTime/BiliBili/main/js/BiliBili.Modified.response.js, argument=
# 📺 BiliBili.Modified.account.app.json
^https:\/\/app\.bilibili\.com\/x\/v2\/(account\/(myinfo|mine)|space)([\/?]|$) url script-response-body https://raw.githubusercontent.com/ClydeTime/BiliBili/main/js/BiliBili.Modified.response.js, argument=
# 📺 BiliBili.Modified.vip.app.json
^https:\/\/api\.bilibili\.com\/x\/vip\/(web\/vip_center\/combine|price\/panel\/lexi|top_panel_info) url script-response-body https://raw.githubusercontent.com/ClydeTime/BiliBili/main/js/BiliBili.Modified.response.js, argument=

#[MITM]
hostname = manga.bilibili.com, api.live.bilibili.com, api.vc.bilibili.com, www.bilibili.com, search.bilibili.com, app.bilibili.com, app.biliapi.net, api.bilibili.com, api.biliapi.net, grpc.biliapi.net