#!name=BiliBili-Cookie获取
#!desc=该模块适用于BiliBil定时任务脚本的Cookie获取. 请在使用后手动将其禁用，以免产生不必要的MITM.
#!author= MartinsKing
#!homepage= https://github.com/ClydeTime/BiliBili/tree/master
#!icon=https://raw.githubusercontent.com/ClydeTime/BiliBili/main/database/icon_Avatar.png

#[Script]
# B站Cookie(APP)
^https?:\/\/app\.bilibili\.com\/x\/resource\/domain\? url script-request-header https://raw.githubusercontent.com/ClydeTime/BiliBili/main/js/BiliBiliDailyBonus.js
# B站Cookie(网页)
^https?:\/\/m.bilibili.com/$ url script-request-header https://raw.githubusercontent.com/ClydeTime/BiliBili/main/js/BiliBiliDailyBonus.js

#[MITM]
hostname = app.bilibili.com, m.bilibili.com